/* styles.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    color: #4b6c8a;
}

@media (max-width: 767px) {
    .navbar-collapse {
        justify-content: center;
        align-items: center;
    }
}

.nav-link {
    margin-left: .2rem;
    margin-right: .2rem;
    padding: .5rem .5rem;
    background-color: #212529;
    color: white;
    border: 1px solid transparent;
    display: block;
    text-align: center;
}

.nav-link:hover {
    background-color: rgb(50, 54, 57);
    color: #f0f0f0;
    border-color: white;
}

iframe {
    width: 100%;
    height: calc(100vh - 56px);
}
